* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: #0f1111;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar_logo {
    width: 100px;
    height: 50px;
}

.logo {
    background-image: url(Images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border {
    border: 2px solid transparent;
}

.border:hover {
    border: 2px solid white;
}

.navbar_location{
    height: 50px;
    width: 90px;
}

.loc_first {
    color: #cccccc;
    font-size: 14px;
    margin-left: 20px;
    margin-top: 5px;
}

.loc_second {
    color: #ffffff;
    font-size: 16px;
    margin-left: 3px;
}

.loc_icon {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.nav_search {
    display: flex;
    justify-content: space-evenly;
    background-color: #ffffff;
    height: 40px;
    width: 620px;
    border-radius: 5px;
}

.nav_search:hover {
    border: 2px solid #FEBD69;
}

.search_icon {
    width: 45px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #FEBD69;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search_Select {
    width: 50px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    background-color: #f3f3f3;
    border: none;
}

.search_input {
    width: 100% ;
    border: none;
    font-size: 1rem;
}

.nav_language {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 50px;
    width: 90px;
}

.nav_language img {
    width: 21px;
    height: auto;
}

.nav_language select {
    background-color: transparent;
    color: white;
    border: none ;
    font-size: 15px;
    font-weight: 700;
}

.nav_sign-in p {
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
}

.nav_sign-in select {
    background-color: transparent;
    color: white;
    border: none ;
    font-size: 16px;
    font-weight: 700;
}

.nav_sign-in {
    height: 50px;
    width: 145px;
}

.nav_orders {
    height: 50px;
    width: 90px;
}

.nav_orders_1 {
    font-size: 14px;
    margin-left: 10px;
    margin-top: 5px;
}

.nav_orders_2 {
    font-size: 16px;
    font-weight: 700;
    margin-left: 10px;
}

.nav_cart{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 90px;
}

.nav_cart i {
    font-size: 30px;
    margin-bottom: 3px;
}

.nav_cart_1 {
    font-size: 13px;
    font-weight: 700;
    margin-top: 10px;
    margin-left: 1px;
}

.panel {
    background-color: #232F3E;
    height: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.panel_all {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.panel_all i{
    margin-right: 4px;
}

.panel_options {
    width: 70%;
    font-size: 14px;
}

.panel_options p {
    display: inline;
    margin-left: 20px;
    cursor: pointer;
}

.panel_deals {
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

.hero_section {
    background-image: url(Images/hero_image.jpg);
    background-size: cover;
    height: 350px;
    display: flex;
    align-items:flex-end;
    justify-content: center;
}

.hero_msg {
    background-color: #F5F6F6;
    height: 40px;
    font-size: 16px;
    width: 94%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}

.hero_msg p a {
    text-decoration: none;
    color: #007185;
}
.shop_section {
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
    padding-bottom: 15px;
}

.box {
    height: 385px;
    width: 24%;
    background-color: white;
    margin-top:10px;
    margin-bottom: 10px;
}
.box-img {
    height: 275px;
    width : 90%;
    margin: 14px;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.box h2 {
    margin: 15px;
    font-size: 21px;
}

.box p {
    margin-left: 14px;
    color: rgb(0,113,133);
    cursor: pointer;
}

.box p:hover {
    color: #FF9900;
}

.wrapper{
    background-color: white;
    height: 300px;
    width: 98%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wrapper h2 {
    margin: 15px;
    font-size: 21px;
}

.wrapper_images {
    margin-left: 15px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
}

.wrapper_img_box{
    max-height: 200px;
    min-width : fit-content;
}

.wrapper_img_box img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

.wrapper_images::-webkit-scrollbar {
    height: 5px;
}

.wrapper_images::-webkit-scrollbar-thumb {
    margin-top: 2px;
    background: #888;
    border-radius: 5px;
}


.wrapper p {
    margin-left: 14px;
    margin-top: 15px;
    color: rgb(0,113,133);
    cursor: pointer;
}

.wrapper p:hover {
    color: #FF9900;
}

.foot_panel {
    height: 50px;
    background-color: #37475A;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.foot_panel_2 {
    background-color: #222f3d;
    color: white;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.foot_panel_2 ul a {
    display: block;
    font-size: 16px;
    color: #D7DBDD;
    text-decoration: none;
    cursor: pointer;
    margin-top: 10px;
}


.foot_panel_2 ul a:hover {
    text-decoration: underline;
}

.foot_panel_2 ul p {
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    margin-top: 15px;
}

.foot_panel_3 {
    background-color: #222f3d;
    margin-top: 1px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer_logo {
    background-image: url(Images/amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}


.foot_panel_4 {
    background-color: #131A22;
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.foot_panel_4_sub {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 12px;
}

.foot_panel_4_sub ul a {
    display: block;
    cursor: pointer;
}

.foot_panel_4_sub ul a:hover {
    text-decoration: underline;
}

.foot_panel_4_sub ul a:first-child {
    color: #D0DDDD;
    font-weight: 700;
}


.foot_panel_4_sub ul a:last-child {
    color: #888;
}

.foot_panel_5 {
    font-size: 14px;
    background-color: #131A22;
    height: 50px;
    color: #D0DDDD;
    text-align: center;
    font-weight: lighter;

}

.foot_panel_5_sub {
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot_panel_5_sub p {
    margin-left:20px;
    cursor: pointer;
}

.foot_panel_5 p {
    margin-top: 5px;
}